
.lat {
  color: lightsteelblue;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  background-color: lightsteelblue(17, 150, 243, 0.205);
  border: 1px solid #2874A6;
    padding: 15px;
}

.navbar {
  font-family: Helvetica, sans-serif;
  margin-right: 0px;
  margin-left: 0px;
  padding: 25px;
  background: lightsteelblue;
}

img {
  display: block;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
}


h1 {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  background-color:  lightsteelblue;
}
h2 {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

p{
  font-family: Helvetica, sans-serif;  
  font-size: 20px;
}

box box-single

@media (max-width: 760px) {
  /* For mobile phones: */
  [class*="col-"] {
      width: 100%;
  }
  .box {
    margin-right: 20px;
    margin-left: 20px;
  }
  .navbar ul {
    visibility: hidden;
  }
  #nav-select {
    visibility: visible;
  }
}



